.filters {
    box-sizing: border-box;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    padding: 0;
    margin: 0;
}
.search_button {
    box-sizing: border-box;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
}
.search_button:hover {
    opacity: 90%;
}
.locations {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
.locations_wrapper_outer {
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Horizontally center child elements */
    align-items: center; /* Center vertically */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.locations_wrapper_inner {
    /*
    width: 100%;
    height: 100%;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.states_title {
    font-weight: 600;
    box-sizing: border-box;
}
.states_content {
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
}
.amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    position: absolute;
    padding: 0;
    /*left: 0;*/
}
.amenities_wrapper_outer {
    display: flex;
    justify-content: center; /* Horizontally center child elements */
    align-items: center; /* Center vertically */
    height: 100%;
    width: 100%;
}
.amenities_title {
    font-weight: 600;
}
.amenities_content {
    font-weight: 400;
    font-size: 14px;
}
.popover {
    /*display: none;*/
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: auto;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 4px;
    background-color: #FAFAFA;
    /*left: -0.8px;*//*had to adjust the list left by a bit so that it's borders align with those of the element above it.*/
    /*right: -31px;*/
    padding-left: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.locations:hover .popover {
    display: block;
}
.popover h2 {
    font-size: 16px;
    font-weight: 600;
}
